/*##############################
############ RESET #############
##############################*/
@import url(./reset.css);



/*##############################
########## TYPOGRAPHY ##########
##############################*/
@import url(./typograpghy/headings.css);
@import url(./typograpghy/paragraphs.css);
@import url(./typograpghy/links.css);



/*##############################
########## LAYOUT PRESETS ######
##############################*/
@import url(./layout-presets/col.css);



/*##############################
########## COMPONENTS ##########
##############################*/
@import url(./components/wrapper.css);
@import url(./components/button.css);



/*##############################
########## SECTIONS ############
##############################*/
@import url(./sections/header.css);
@import url(./sections/intro.css);
@import url(./sections/businesses.css);
@import url(./sections/meeting.css);
@import url(./sections/traits.css);
@import url(./sections/system.css);
@import url(./sections/customers.css);
@import url(./sections/testimonials.css);
@import url(./sections/contact-us.css);
@import url(./sections/footer.css);



/*##############################
########## ROOT ##########
##############################*/
:root{
    --primary-color: #0096ff;
    --secondary-color: #bf2026;
    --gray-background: #F5F6F6;
    --gap: 5rem;
    --footer-background: #243a4a;
}

