/* Header Styles */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding-top: 3rem;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0rem 2rem 2.5rem 2rem;
}

/* Burger Menu Styles */
.burger-menu {
  display: block;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.burger-top-line,
.burger-bottom-line {
  display: block;
  width: 3rem;
  height: 0.5rem;
  border-radius: 1.5rem;
  background: #fff;
  z-index: 10;
  transition: 0.2s ease-in-out;
}

.burger-top-line {
  margin-bottom: 5px;
}

.clicked {
  z-index: 1010;
  transform: rotate(360deg); /* Twist-spin effect */
}

.clicked .burger-top-line {
  transform: translateY(100%) rotate(45deg);
  transition: 0.2s ease-in-out;
}

.clicked .burger-bottom-line {
  transform: translateY(-100%) rotate(-45deg);
  transition: 0.2s ease-in-out;
}

/* Navigation Styles */
.nav {
  position: absolute;
  top: 0px;
  right: -1.5rem;
  left: -1.5rem;
  transform: translateX(100%);
  height: 100vh;
  text-align: center;
  padding-top: 10rem;
  transition: 0.2s ease-in-out;
}

.nav__list {
  display: flex;
  flex-direction: column;
}

.nav__item {
  padding: 0rem 1.6rem;
}

.opened {
  position: absolute;
  top: 0;
  height: 100vh;
  right: -1.5rem;
  left: -1.5rem;
  padding-top: 10rem;
  background: #000;
  transform: translateX(0%);
  z-index: 1000;
  transition: 0.2s ease-in-out;
}

/* Header Login Styles */
.header__login {
  display: none;
  opacity: 0;
  position: absolute;
  top: 3rem;
  right: 1.5rem;
}

.header__login span {
  margin: 0rem 2rem;
  pointer-events: none;
}

/* Media Queries */
@media(min-width: 992px) {
  .burger-menu {
      display: none;
  }

  .nav {
      position: relative;
      height: 100%;
      top: unset;
      right: unset;
      left: unset;
      transform: none;
      padding: 0;
      transition: 0.2s ease-in-out;
  }

  .nav__list {
      flex-direction: row;
  }

  .header__login {
      display: flex;
      align-items: center;
      opacity: 1;
      position: relative;
      top: unset;
      right: unset;
  }
}
